.blockcontainer{
    margin-top: 120px;
}
.backButton {
    background: none;       
    border: none;          
    cursor: pointer;
    padding: 5px;
}
.backButton img {
  width: 35px;  
  height: 35px;
  object-fit: contain;
}
.searchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchContainer input{
    border: 1px solid #373B86;
    border-radius: 15px;
    width: 90vw;
    height: 90px;
    justify-content: center;
    align-items:center ; 
    font-size: larger;
    text-align: center;
}
.searchContainer button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
    width: 200px;
    font-size: large;
    background-color: #373B86;
    color: white;
    border: none;
    border-radius: 20px;
}
.searchContainer button:hover{
    background-color: #464cbb;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    gap: 15px;                         
    margin-top: 20px;
}
.buttonContainer button{
    margin: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 150px;
    font-size: large;
    background-color: #373B86;
    color: white;
    border: none;
    border-radius: 20px;
}
.buttonContainer button:hover{
    background-color:#378658;
    color: #fff;
}