
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #2a9df4, #10366e); 
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  background: #ffffff;
  width: 400px;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

.msg h1 {
  color: #1e3c72;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.forms form{
  padding-right: 20px;
}
.forms form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  color: #1e3c72;
  font-weight: 600;
}

.forms form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #1e3c72;
  margin-bottom: 15px;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
}


.forms form input:focus {
  border-color: #2a9df4;
  box-shadow: 0 0 6px rgba(42, 157, 244, 0.5);
}


.forms form button {
  width: 109%;
  padding: 10px;
  background: #1e3c72;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}


.forms form button:hover {
  background: #2a5298;
  box-shadow: 0 3px 12px rgba(30, 60, 114, 0.3);
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
