.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 15px;
}


.top{
    height: 120px;
    width: 100%;
    border: none;              
    border-bottom: 2px solid black;
    outline: none;              
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.top img{
    height: 100px;
    width: auto;
   align-self: center;
}
#logbtn{
    width: 120px;
    height: 40px;
    align-self: center;
    border: 2px solid red;
    background-color:transparent;
    color: red;
    margin-right: 15px;
    border-radius: 20px;
    font-size: large;
    font-weight: 600
}
#logbtn:hover{
    background-color: #ff0505;
    color: white;
}



.body{
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: relative;
    /* row-gap: 20px; */
    /* overflow: auto; */
}

/* body part */
.title{
    position: relative;
    top:0%;
    text-align: center;
    width: 98vw;
    background-color:#3793c4;
    border-radius: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.title marquee {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}

.main_cointainer{

    display: flex;
    flex-direction: row;
    height: 300px;
    /* column-gap: 15px; */
    width: 98vw;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    
}
.container{
    margin-top: 250px;
    border-radius: 20px;
    background:linear-gradient(#3793c4,#10366e) ;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    cursor: pointer;
    box-shadow: 0 15px 10px rgba(0,0,0,0.3);
}
.btncontainer button{
    height: 100px;
    width: 250px;
    border-radius: 20px;
    border: none;
    font-size: larger;
    color: #10366e;
    font-weight: bold;
}
.btncontainer button:hover{
    background-color: #767779;
    color: white;
}
.detcontainer{
    /* margin-bottom:150px; */
    background-color:transparent;
    color: white;
    border-radius: 20px;
    height: 300px;
    width: 280px; 
}
.detcontainer h1{
    text-align: center;
}
.detcontainer div{
    margin-top: 5px;
}
.detcontainer div ul{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.backButton {
    background: none;       
    border: none;     
    cursor: pointer;
    padding: 5px;
}
.backButton img {
  width: 100px;  
  height: 40px;
  object-fit: contain;
  
}


/* footer part */
.bottom{
    height: 80px;
    width: 100%;
    background-color: #3793c4;
    position: fixed;
    bottom: 0%;
}





/* .container{
    margin-top: 120px;
}
.backButton {
    background: none;       
    border: none;          
    cursor: pointer;
    padding: 5px;
}
.backButton img {
  width: 35px;  
  height: 35px;
  object-fit: contain;
}
.title{
    margin-top: 30px;
    color: white;
    background-color: #378658;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    
    text-transform: uppercase;
    width: 95vw;
    margin-left: 10px;
    text-align: center;
}

.main_cointainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:20px;
}
.main_cointainer h2{
    color: #373B86;
    font-size: 35px;
}
.main_cointainer input{
    border: 1px solid #373B86;
    border-radius: 15px;
    width: 90vw;
    height: 90px;
    justify-content: center;
    align-items:center ; 
    font-size: larger;
    padding-left:15px;
}
.main_cointainer button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 200px;
    font-size: large;
    background-color: #373B86;
    color: white;
    border: none;
    border-radius: 20px;
}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.containers{
    margin-top: 30px;
    border-radius: 20px;
    background-color: #378658;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.containers div{
    background-color: white;
    color: rgb(28, 181, 195);
    border-radius: 20px;
    height: 100px;
    width: 250px;
    margin-left: 25px;
    margin-top: 10px;
    align-content: center;
    
}
.containers div h1{
    margin-left: 50px;
}
.containers button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 250px;
    font-size: large;
    margin-left: 25px;
    background-color: #373B86;
    color: white;
    border: none;
    border-radius: 20px;
}
.containers button:hover{
    background-color:white;
    color: #378658;
}


.bottom{
    margin-top: 40px;
    height: 50px;
    width: 100vw;
    background-color: #378658;
    position: fixed;
    bottom: 0%;
    border-radius: 5px;
} */