.uploadcontainer{
    margin-top: 120px;
}
.backButton {
    background: none;       
    border: none;          
    cursor: pointer;
    padding: 5px;
}
.backButton img {
  width: 35px;  
  height: 35px;
  object-fit: contain;
}
.title{
    margin-top: 30px;
    color: white;
    background-color: #378658;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
.maincontainer{
    display: flex;
    flex-direction: column;
}
.uploadspace{ 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploadspace div{
    border: 1px solid #373B86;
    border-radius: 15px;
    width: 90vw;
    height: 120px;
}
.droparea {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 18px;
    position: relative;
}
.droparea p{
    font-size: larger;
}
.droparea form  {
    position: absolute;
    width: 100%;
    height: 100%;
    

}
.droparea form input {
   
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}
.uploadspace button{
    margin-top: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 200px;
    font-size: large;
    background-color: #373B86;
    color: white;
    border: none;
    border-radius: 20px;
}
.uploadspace button:hover{
    background-color:#378658;
    color: #fff;
}

.success{
    position:absolute;
    width: 100vw;
    margin-top: 100px;
    text-align: center;
}
.success h1{
    align-content: center;
    justify-content: center;
    align-items: center;
}
