.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 15px;
}


.top{
    height: 120px;
    width: 100%;
    border: none;              
    border-bottom: 2px solid black;
    outline: none;              
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.top img{
    height: 100px;
    width: auto;
   align-self: center;
}
#logbtn{
    width: 120px;
    height: 40px;
    align-self: center;
    border: 2px solid red;
    background-color:transparent;
    color: red;
    margin-right: 15px;
    border-radius: 20px;
    font-size: large;
    font-weight: 600
}
#logbtn:hover{
    background-color: #ff0505;
    color: white;
}




.uploadcontainer{
    margin-top: 120px;
}
.backButton {
    background: none;       
    border: none;     
    cursor: pointer;
    padding: 5px;
}
.backButton img {
  width: 100px;  
  height: 40px;
  object-fit: contain;
  
}
.title{
    margin-top: 30px;
    color: white;
    background-color: #378658;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
.maincontainer{
    display: flex;
    flex-direction: column;
}
.uploadspace{ 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploadspace h2{
    color: #10366e;
}
.uploadspace div{
    border: 1px solid #3793c4;
    border-radius: 15px;
    width: 90vw;
    height: 120px;
}
.droparea {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 18px;
    position: relative;
}
.droparea p{
    font-size:X-large;
    text-transform: uppercase;
    opacity: 0.5;
}
.droparea form  {
    position: absolute;
    width: 100%;
    height: 100%;
}
.droparea form input {
   
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}
.droparea form button{
    margin-top: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    width: 200px;
    font-size: large;
    background-color: #3793c4;
    color: white;
    border: none;
    border-radius: 20px;
}
.droparea form button:hover{
    background-color:#26739c;
    color: #fff;
}

.message{
    width: 100vw;
    margin-top: 100px;
    text-align: center;
}
.message h2{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: inline;
    padding:2px 15px 2px 15px;
    border-radius: 25px;
    border: 1px solid #3793c4;
    box-shadow: 0 10px 5px rgba(0,0,0,0.3);
    font-weight:400;
}

.loader {
    margin-top: 90px;
  width: 75px;
  height: 75px;
  border: 4px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


 /* footer part */
.bottom{
    height: 80px;
    width: 100%;
    background-color: #3793c4;
    position: fixed;
    bottom: 0%;
}