*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.top{
    height: 120px;
    width: 100%;
    background-color: #378658;
    border-radius: 0px 15px 15px 15px;
    position: fixed;
    top: 0%;
    text-align: center;
    
}

body {
  background-color: #ffffff;
  color: #1e1e1e;
  transition: background 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

button#DarkTheme {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.dark-mode button#DarkTheme {
  background: #333;
  color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:15px;
}
.container h1{
   align-self: center;
   color: #fff;
}
.container img{
    height: 80px;
    width: 120px;
   align-self: center;
}
.container button{
    width: 100px;
    height: auto;
    align-self: center;
    margin-right: 15px;
    border-radius: 20px;
    
}
.container button:hover{
   background-color: #d6d2d2;
   color: #45b9eb ;
}
